<div id="tracked_list">
  <% if current_user%>
    <!-- MODAL BUTTON TO POPUP -->
    <!-- MODAL BUTTON TO POPUP -->

    <!-- MODAL POPUP TO ADD TO TRACK LIST-->
    <div class="modal fade" id="track" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="myModalLabel">Track Items Here</h2>
          </div>
          <div class="modal-body">
            <center>
              <input type="text" class="formbox_item" placeholder="Item To Track"></input>
              <input type="text" class="formbox_lowrange" placeholder="Low Range. IE: 20.00"></input>
              <input type="text" class="formbox_highrange" placeholder="High Range. IE: 100.00"></input>
              <%= form_for @track, :remote => true do |f| %>
                <%= f.select :location, @places , class: "formbox_location" %>
                <%= f.hidden_field :user_id, value: current_user.id, class: "formbox_user_id"%>
              <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" id="save" class="btn btn-primary" data-dismiss="modal">Track</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    </div>
    <!-- MODAL POPUP TO ADD TO TRACK LIST-->

    <!-- DIV THAT ITEMS APPEND TO -->
      <div id="tracked_items">
        <% @tracks.reverse.each do |track| %>
          <div class="div_that_tracked_items_append_to" data-id="<%= track.id %>">
            <a id="craigslist_link" href="http://<%= track.location %>.craigslist.org/search/sss?sort=priceasc&catAbb=sss&maxAsk=<%= track.high_cost %>&minAsk=<%= track.low_cost %>&query=<%= track.title %>"><%= track.title %></a><br>
            <%= track.location %><br>
            <%= track.low_cost %> - <%= track.high_cost %><br>
            <%= link_to "I Got It!", track_path(track), :method => "delete", :remote => true %>
          </div>
        <% end %>
      </div>
    <!-- DIV THAT ITEMS APPEND TO -->

  <% else %>
    <!-- nothing -->
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#save').on('click', function() {
      var item = $('.formbox_item').val();
      var low_cost = $('.formbox_lowrange').val().replace(" ","");
      var high_cost = $('.formbox_highrange').val().replace(" ","");
      var location = $('select').val();
      var url = "http://" + location + ".craigslist.org/search/sss?sort=priceasc&catAbb=sss&maxAsk=" + high_cost + "&minAsk=" + low_cost + "&query=" + item.replace(/\s/g, "%20")
      var user_id = $('.formbox_user_id').val();
      $.ajax({
        url: "/create",
        data: {
          item: item,
          low_cost: low_cost,
          high_cost: high_cost,
          location: location,
          url: url,
          user_id: user_id
        },
        type: "PUT"
      })

      $('form').val("");
    })
  })
</script>
