<!DOCTYPE html>
<html>
<head>
  <title>ALERT.MI.NOW</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <!-- CDN FOR BOOTSTRAP MODAL -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.1.0/bootstrap-modal.pack.js"></script>
</head>
<body>

<!-- NAVBAR -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="navbar">
  <!-- HAMBURGER TOGGLE NAVBAR-->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">ALERT.MI.NOW</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <!-- DEVISE LOGIN -->
        <li><a class="active"><%= notice %></a></li>
        <li><a class="active"><%= alert %></a></li>
      <% if user_signed_in? %>
        <li><a class="active">Logged in as <strong><%= current_user.email %></strong>.</a></li>
         <!--<li><#%= link_to 'Edit profile', edit_user_registration_path %></li> -->
        <li><a href="#" data-toggle="modal" data-target="#track"><strong>Add Items To Track</strong></a></li>
        <li><a href="#" data-toggle="modal" data-target="#editModal">Edit Account</a></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %> </li>
        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<li>
      <% else %>
        <!-- <li><#%= link_to "Sign up", new_user_registration_path %></li> -->
        <!-- <li><#%= link_to "Login", new_user_session_path %> </li> -->
        <li><a href="#" data-toggle="modal" data-target="#signupModal">Sign Up</a></li>
        <li><a href="#" data-toggle="modal" data-target="#loginModal">Login</a> </li>
        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<li>
      <% end %>
      <!-- DEVISE LOGIN -->
    </ul>
  </div>
  <!-- /.navbar-collapse -->
</nav>
<!-- NAVBAR -->

<!-- LOGIN MODAL -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="loginModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h2 class="modal-title" id="myModalLabel">Sign In</h2>
      </div>

        <div class="modal-body">
          <center>
            <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
              <div>
                <%= f.label :email %></br>
                <%= f.email_field :email, :autofocus => true %>
              </div>
              <div>
                <%= f.label :password %></br>
                <%= f.password_field :password %>
              </div>
                <% if devise_mapping.rememberable? -%>
                  <div>
                    <%= f.check_box :remember_me %> <%= f.label :remember_me %>
                  </div>
                <% end -%>
            <%= render "devise/shared/links" %>
          </center>
        </div>
        <div class="modal-footer">
              <%= f.submit "Sign in", class: "btn btn-primary" %>
            <% end %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div> <!-- END OF DIV: modal-content -->
  </div> <!-- END OF DIV: modal-dialog -->
</div> <!-- END OF DIV: modal fade -->

<!-- SIGNUP MODAL -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="signupModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h2 class="modal-title" id="myModalLabel">Sign Up</h2>
      </div>

        <div class="modal-body">
          <center>
          <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
            <div>
              <%= f.label :email %><br />
              <%= f.email_field :email, :autofocus => true %>
            </div>
            <div>
              <%= f.label :password %><br />
              <%= f.password_field :password %>
            </div>
            <div>
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation %>
            </div>
            <%= render "devise/shared/links" %>
          </center>
        </div>
        <div class="modal-footer">
              <%= f.submit "Sign Up", class: "btn btn-primary" %>
            <% end %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div> <!-- END OF DIV: modal-content -->
  </div> <!-- END OF DIV: modal-dialog -->
</div> <!-- END OF DIV: modal fade -->
<!-- SIGNUP MODAL -->

<!-- EDIT MODAL -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="editModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h2 class="modal-title" id="myModalLabel">Edit Account</h2>
      </div>

        <div class="modal-body">
          <center>
         <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
          <%= devise_error_messages! %>

          <div><%= f.label :email %><br />
          <%= f.email_field :email, :autofocus => true %></div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, :autocomplete => "off" %></div>

          <div><%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation %></div>

          <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password %></div>
          </center>
        </div>
        <div class="modal-footer">
            <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, class: "btn btn-danger" %><br/><br/>
            <%= f.submit "Update", class: "btn btn-primary" %>
          <% end %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div> <!-- END OF DIV: modal-content -->
  </div> <!-- END OF DIV: modal-dialog -->
</div> <!-- END OF DIV: modal fade -->
<!-- SIGNUP MODAL -->









<div id="mobilescreen">
  <p style="margin-left:100px;">
    <br><br><br>
    <img src="/assets/screen.png" id="computer">
  </p>
</div>

<div id="mobilehand">
  <img src="/assets/hand.png" id="hand">
</div>

<!-- WHEN A USER IS SIGNED THEY SEE THE PARTIAL -->
<%= yield %>

</body>
</html>
