<!DOCTYPE html>
<html>
<head>
  <title>Craigstr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- SPLASH AND MENU PAGE -->

<!-- DEVISE LOGIN -->
<div id="login">
  <% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %></strong>.
    <%= link_to 'Edit profile', edit_user_registration_path %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> |
    <%= link_to "Login", new_user_session_path %>
  <% end %>
</div>
<!-- DEVISE LOGIN -->

<div id="svg">
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="550"
   height="750"
   id="svg2"
   version="1.1"
   inkscape:version="0.48.2 r9819"
   sodipodi:docname="New document 1">
  <defs
     id="defs4" />
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="0.46283264"
     inkscape:cx="472.37965"
     inkscape:cy="449.08144"
     inkscape:document-units="px"
     inkscape:current-layer="layer1"
     showgrid="false"
     inkscape:window-width="1283"
     inkscape:window-height="760"
     inkscape:window-x="0"
     inkscape:window-y="0"
     inkscape:window-maximized="0" />
  <metadata
     id="metadata7">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1">
    <g
       id="g4092"
       transform="translate(-79.942503,-34.569731)">
      <rect
         y="211.37679"
         x="287.14325"
         height="253.623"
         width="133.24271"
         id="rect3854"
         style="fill:none;stroke:#000000;stroke-width:17.96155548;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" />
      <path
         sodipodi:nodetypes="ccsssscccscccscssccscsccc"
         inkscape:connector-curvature="0"
         id="path3050"
         d="m 416.68927,638.17961 -15.8687,-29.47044 c 0,0 -36.83806,-6.23414 -62.90807,-46.47263 -26.07001,-40.2385 -8.50109,-19.83588 -22.66958,-35.13784 -14.16848,-15.30197 -5.66739,-13.60175 -23.23631,-22.10284 -17.56892,-8.50109 -41.93872,-27.20349 -39.67176,-40.2385 2.26696,-13.035 7.36761,-19.83588 22.66958,-18.7024 14.29312,3.66498 52.47529,12.39787 48.4695,27.79682 l 92.08186,0.29666 c 0,0 1.70022,-21.85934 7.93436,-29.22696 6.23413,-7.36761 6.80087,-7.93435 6.80087,-7.93435 l -0.56674,-69.1422 20.40262,17.00218 c 0,0 -7.36761,-15.30196 -9.06783,-28.33697 -1.70022,-13.03501 -1.70022,-20.40262 -1.70022,-20.40262 0,0 -19.26914,-10.76805 -22.66958,-35.70458 -3.40043,-24.93653 0.56674,-32.87088 2.26696,-36.27132 1.70022,-3.40044 14.16849,-13.035 14.16849,-13.035 l 22.10283,37.97153 c 0,0 19.83588,6.80088 26.63675,23.23632 6.80088,16.43544 35.70458,74.8096 35.70458,74.8096 0,0 12.53703,23.77457 8.56986,63.44633 -3.96718,39.67176 -8.00312,45.93437 -8.00312,45.93437 l 34.00437,82.74395 c 1.81489,1.01301 -109.86863,48.0338 -135.45072,58.94089 z"
         style="fill:#ffdbb6;fill-opacity:1;stroke:none" />
      <path
         sodipodi:nodetypes="ccccccccssscccsccsssccc"
         inkscape:connector-curvature="0"
         id="path3822"
         d="m 272.9815,445.8822 c 0,0 -22.44173,-18.83502 -30.05589,-26.84993 -12.29642,-14.39489 4.32536,-36.41997 14.45113,-35.03083 19.17536,6.048 9.48038,1.70022 9.48038,1.70022 0,0 -7.56971,-5.46458 -21.92779,-17.16329 -23.67493,-19.07431 -1.70718,-47.57228 18.43429,-41.27677 11.99387,6.88978 14.82757,10.82013 14.82757,10.82013 l 0.166,-12.42311 c 0,0 -35.43158,-21.2395 -47.45394,-30.45664 -12.02236,-9.21714 -17.63279,-12.82384 -16.43056,-26.44918 1.20224,-13.62534 8.8164,-20.43801 23.64398,-18.03354 14.82757,2.40447 39.27303,21.2395 39.27303,21.2395 l 1.01516,51.11376 -0.28337,14.8526 c 0,0 17.85229,8.95045 15.0186,24.25241 -2.8337,15.30197 -16.18646,19.90464 -16.18646,19.90464 l 0.60112,8.43233 c 0,0 11.61816,6.51751 20.68599,13.31838 9.06783,6.80087 5.95077,22.95294 2.8337,29.18708 -3.11707,6.23413 -11.05142,10.76805 -15.58533,10.20131 -4.53392,-0.56674 -7.93435,-2.55033 -7.93435,-2.55033 l -10e-6,6.80087 z"
         style="fill:#ffdbb6;fill-opacity:1;stroke:none" />
      <path
         sodipodi:nodetypes="ccsscc"
         inkscape:connector-curvature="0"
         id="path3824"
         d="m 271.32062,351.40949 c 4.25055,-6.23414 5.95077,-6.51751 5.95077,-6.51751 0,0 -17.28556,-10.48468 -24.93654,-6.5175 -7.65098,3.96718 -8.50109,11.90153 -5.95076,18.41903 2.55033,6.5175 17.85229,18.7024 17.85229,18.7024 -2.06731,-5.53426 4.05764,-19.43559 7.08424,-24.08642 z"
         style="fill:#e5c59a;fill-opacity:1;stroke:none" />
      <path
         inkscape:connector-curvature="0"
         id="path3826"
         d="m 268.48692,278.01674 c -0.28336,15.01859 -11.33478,20.68598 -11.33478,20.68598"
         style="fill:none;stroke:#ccb681;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" />
      <path
         inkscape:connector-curvature="0"
         id="path3828"
         d="m 275.2878,435.85365 c -2.8337,-12.46826 15.30196,-30.88729 15.30196,-30.88729 0,0 -15.58533,-12.75164 -27.77023,-5.38403 -12.1849,7.36762 -5.66739,21.25273 -1.13348,26.07002 4.53392,4.81728 13.60175,10.2013 13.60175,10.2013 z"
         style="fill:#e5c59a;fill-opacity:1;stroke:none" />
      <path
         sodipodi:nodetypes="ccc"
         inkscape:connector-curvature="0"
         id="path3830"
         d="m 309.8589,463.62388 c 0,26.63676 -10.20131,30.32056 -10.20131,30.32056 -40.6159,-17.86797 -11.60702,-41.6232 10.20131,-30.32056 z"
         style="fill:#e5c59a;fill-opacity:1;stroke:none" />
      <path
         sodipodi:nodetypes="cscsscssscscccsscc"
         inkscape:connector-curvature="0"
         id="path3832"
         d="m 265.9366,484.87661 c 40.23849,17.28555 43.35556,17.85229 48.45621,12.75164 5.10066,-5.10066 7.65099,-9.91794 7.65099,-9.91794 0,0 0.28337,9.63457 3.96717,14.73522 3.68381,5.10066 6.51751,9.3512 9.91794,2.26696 3.40044,-7.08424 3.40044,-7.08424 3.40044,-7.08424 0,0 -4.25055,35.42121 7.36761,48.73958 11.61816,13.31838 14.04776,29.35584 46.10738,42.17969 32.05962,12.82384 36.46782,10.01863 46.88719,6.41192 10.41938,-3.60671 14.82758,-8.01491 14.82758,-8.01491 0,0 -6.01118,14.02609 -6.01118,22.44174 0,8.41565 3.20596,14.82757 3.20596,14.82757 l -35.26558,13.62534 -14.82758,-28.85366 c 0,0 -30.85738,-6.81267 -58.10806,-38.0708 -27.25068,-31.25813 -17.63279,-37.67005 -20.83875,-38.47154 -3.20597,-0.80149 -15.62907,-13.62534 -16.43056,-16.8313 -12.97227,-12.32234 -21.48254,-9.92722 -40.30676,-30.73527 z"
         style="fill:#e5c59a;fill-opacity:1;stroke:none" />
      <path
         sodipodi:nodetypes="ccscc"
         inkscape:connector-curvature="0"
         id="path3834"
         d="m 398.01402,474.32638 c 0,35.26558 36.86857,74.14661 36.86857,74.14661 0,0 -22.44174,-24.04472 -21.64025,-50.89465 0.8015,-26.84993 2.68329,-23.23448 2.68329,-23.23448 z"
         style="fill:#e5c59a;fill-opacity:1;stroke:none" />
      <path
         sodipodi:nodetypes="ccsccc"
         inkscape:connector-curvature="0"
         id="path3836"
         d="m 428.85393,439.65337 c 12.4231,-18.43428 23.26071,-28.63601 23.26071,-28.63601 0,0 -1.20224,-8.41565 0,-12.82384 1.20223,-4.4082 5.20968,-7.21342 5.20968,-7.21342 l -28.18283,-23.64397 z"
         style="fill:#e5c59a;fill-opacity:1;stroke:none" />
      <path
         sodipodi:nodetypes="cccc"
         inkscape:connector-curvature="0"
         id="path3838"
         d="m 434.0811,250.71926 c -4.00745,12.82385 8.65951,34.71669 8.65951,34.71669 l 9.07774,-2.26506 z"
         style="fill:#e5c59a;fill-opacity:1;stroke:none" />
      <path
         inkscape:connector-curvature="0"
         id="path3842"
         d="m 471.75115,298.40795 c -10.01863,4.40819 -8.81639,10.01863 -8.81639,10.01863"
         style="fill:none;stroke:#ccb681;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" />
      <path
         inkscape:connector-curvature="0"
         id="path3844"
         d="m 480.1668,310.02956 c -5.20968,8.0149 -12.4231,6.41192 -12.4231,6.41192"
         style="fill:none;stroke:#ccb681;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" />
      <path
         inkscape:connector-curvature="0"
         id="path3846"
         d="m 476.5601,304.01838 c -4.00746,4.4082 -5.20969,4.4082 -5.20969,4.4082"
         style="fill:none;stroke:#ccb681;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" />
      <path
         inkscape:connector-curvature="0"
         id="path3848"
         d="m 518.2376,496.77685 21.2395,48.89092 c 0,0 -12.4231,-18.43428 -33.26185,-6.01118 -20.83876,12.42311 -37.67006,30.0559 -37.67006,30.0559 0,0 28.85366,-35.26558 37.26931,-49.29167 8.41565,-14.02608 12.4231,-23.64397 12.4231,-23.64397 z"
         style="fill:#e5c59a;fill-opacity:1;stroke:none" />
      <path
         sodipodi:nodetypes="cccc"
         inkscape:connector-curvature="0"
         id="path3850"
         d="m 278.58188,447.14856 -0.20361,-5.91088 -25.33955,-13.18124 19.87157,17.74174"
         style="fill:#e5c59a;fill-opacity:1;stroke:none" />
      <path
         sodipodi:nodetypes="ccsccc"
         inkscape:connector-curvature="0"
         id="path3852"
         d="m 278.90513,390.91296 -0.27008,-9.38964 c 0,0 -6.18095,3.04042 -12.69845,-0.64339 -6.51751,-3.6838 -15.30197,-8.21772 -15.30197,-8.21772 l 16.97371,14.35045 c 3.01563,0.86218 5.11267,2.08342 11.29679,3.9003 z"
         style="fill:#e5c59a;fill-opacity:1;stroke:none" />
      <use
         id="use3860"
         xlink:href="#path3824"
         y="0"
         x="0"
         width="744.09448"
         height="1052.3622" />
      <use
         id="use3864"
         xlink:href="#path3828"
         y="0"
         x="0"
         width="744.09448"
         height="1052.3622" />
      <use
         id="use3866"
         xlink:href="#path3830"
         y="0"
         x="0"
         width="744.09448"
         height="1052.3622" />
      <use
         id="use3876"
         xlink:href="#path3842"
         y="0"
         x="0"
         width="744.09448"
         height="1052.3622" />
      <rect
         transform="matrix(0.91850716,-0.39540434,0.39540434,0.91850716,0,0)"
         y="747.16644"
         x="117.32929"
         height="72.344429"
         width="171.79274"
         id="rect4082"
         style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" />
      <path
         transform="matrix(1.0625,0,0,1,-28.459262,0)"
         d="m 455.34817,662.37238 c 0,7.45794 -5.80402,13.5038 -12.96365,13.5038 -7.15962,0 -12.96365,-6.04586 -12.96365,-13.5038 0,-7.45795 5.80403,-13.50381 12.96365,-13.50381 7.15963,0 12.96365,6.04586 12.96365,13.50381 z"
         sodipodi:ry="13.503801"
         sodipodi:rx="12.963649"
         sodipodi:cy="662.37238"
         sodipodi:cx="442.38452"
         id="path4086"
         style="fill:#091346;fill-opacity:1;stroke:#000000;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
         sodipodi:type="arc" />
      <path
         inkscape:connector-curvature="0"
         id="path4090"
         d="m 409.41343,705.78209 80.97238,190.97259 236.80601,0 -119.93079,-277.2922 z"
         style="fill:#091046;fill-opacity:1;stroke:none" />
    </g>
  </g>
</svg>

</div>

<!-- WHEN A USER IS SIGNED THEY SEE THE PARTIAL -->
<%= yield %>

</body>
</html>
